.widget-container {
  max-width: 1280px;
  margin: 15px auto 80px auto;
}

.appointment-title h1 {
  font-weight: 700;
  font-size: 50px;
  text-align: center;
  margin: 50px 0;
}

.widget-container img {
  height: 250px;
}

.widget-container-image {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

@media (max-width: 1300px) {
  .widget-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .widget-container-image {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .arrows {
    display: none;
  }
}

.widget-content {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.widget-content img {
  width: 40vh;
  margin: 0 auto;
}

.widget-content h2,
.widget-content p {
  width: 340px;
  margin: 10px auto;
}

.widget-content h2{
  font-size: 30px;
}
.carbutton {
  width: 160px;
  height: 70px;
  padding: 20px;
  background: #212121;
  border: 3px inset white;
  border-radius: 5%;
  transition: 0.2s;
}

.caption {
  color: #e8e8e8;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  transition: 0.2s;
}

.car {
  fill: #b8b8b8;
  width: 50px;
  height: 50px;
  margin-left: -90px;
  margin-top: -35px;
  transition: 0.2s ease-in-out;
}

.carbutton:not(:hover) .car {
  opacity: 0%;
  transform: translateX(-150px);
}

.carbutton:hover .caption {
  opacity: 0%;
}

.carbutton:focus .car {
  transform: translateX(120px);
}

.book-now-button {
  display: flex;
  justify-content: center;
}
