.reviews-client-container {
    max-width: 1280px !important;
    margin: 0 auto !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    padding: 40px 0 !important;
    height: 500px;
  
  }
  .mySwiper{
    margin: 50px;
  }
  
  .reviews-client-content {
    
    overflow: hidden !important;
    border-radius: 25px !important;
    display: flex !important;
    justify-content: center !important; 
    height: 100% !important;
  }
  
  .reviews-card-client {
    width: 320px !important; 
    border-radius: 25px !important;
    background-color: #a3a3a3 !important;
    height: 100% !important;
  }
  
  .slick-track {
    height: 100% !important;
  }
  
  .slick-slide { 
    height: 100%!important;
  }
  
  .image-reviews-client-content,
  .reviews-card-content {
    display: flex ; 
    flex-direction: column ;
    align-items: center ;
    padding: 10px 45px ;
  }
  
  
  .image-reviews-client-content {
    position: relative !important;
    row-gap: 5px !important;
    padding: 25px 0 !important;
  }
  
  .overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgb(18,18,18);
    border-radius: 25px 25px 0 25px;
  }
  
  .overlay::before,
  .overlay::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background: rgb(18,18,18)
  }
  
  .overlay::after{
      border-radius: 0 25px 0 0;
      background: #a3a3a3; 
  }
  
  .reviews-client-card-image-content {
    position: relative;
    height: 150px;
    width: 150px; 
    border-radius: 50%;
    padding: 3px;
  }
  
  .reviews-client-card-image-content .reviews-client-card-image {
    height: 100% !important;
    width: 100%;
    object-fit: cover;
    border-radius: 50%; 
    border: 4px solid #fff;
  }
  
  
  .reviews-client-name {
    font-size: 18px;
    font-weight: 500;
    color: #fff;
  
  }
  
  .reviews-client-description {
    font-size: 14px;
    color: #fff;
    text-align: center;
    min-height: 100px;
  }
  
  .reviews-client-button {
    border: none;
    font-size: 16px;
    color: #fff;
    padding: 8px 16px;
    background: rgb(18,18,18);
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .reviews-client-button:hover {
    background: #3c3a3a;
  }
  
  @media (max-width: 1460px) {
    .reviews-client-container{
      justify-content: center;  
      display: flex;
      flex-wrap: wrap;
    }
    .reviews-client-content{
      justify-content: center;  
      display: flex;
      flex-wrap: wrap;  
    }
    .reviews-card-client-wrapper{
      justify-content: center;  
      display: flex;
      flex-wrap: wrap; 
    }
    .reviews-card-client{
      justify-content: center;  
      display: flex;
      flex-wrap: wrap; 
    }
  }