/* check the a tag and replace it
check the button and show it */

body {
  min-height: 100vh;
  background: url("../../../assets/backgroundImage/backgroundImage_LE_auto_x2.png");
  background-size: cover;
  background-position: center;
}

.navbar-wrapper-client {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.3rem 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.navbar-wrapper-client::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  z-index: -1;
}

.navbar-wrapper-client::after {
  content: " ";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.893),
    transparent
  );
  transition: 0.5s;
}

.navbar-client a {
  font-family: 'Poppins', sans-serif;
  font-size: 1.35rem;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 2.5rem;
  display: inline;
  margin-right: 20px;
}

#check {
  display: none;
}

.icons {
  position: absolute;
  right: 15%;
  font-size: 2.8rem;
  color: #fff;
  cursor: pointer;
  display: none;
}

@media (max-width: 1460px) {
  .navbar-wrapper-client {
    padding: 1.5rem 5%;
  }
  .icons,
  .car-cart {
    display: inline-flex;
  }
  #check:checked ~ .icons #menu-icon {
    display: none;
  }

  .icons #close-icon {
    display: none;
  }

  #check:checked ~ .icons #close-icon {
    display: block;
  }

  .navbar-client {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    background-color: rgba(0, 0, 0, 0.92);
    box-shadow: 0.5rem 1rem rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: 0.3s ease;
  }

  #check:checked ~ .navbar-client {
    height: 17.7rem;
  }

  .navbar-client a {
    display: block;
    font-size: 1.4rem;
    margin: 1.5rem 0;
    text-align: center;
    transform: translateY(-50px);
    opacity: 0;
    transition: 0.3s ease;
  }

  #check:checked ~ .navbar-client a {
    transform: translateY(0);
    opacity: 1;
    transition-delay: calc(0.15s * var(--i));
  }
  .car-cart {
    position: absolute;
    right: 8%;
    top: 32%;
  }
  .carbutton {
    display: none;
  }
}

@media (max-width: 768px) {
  .icons {
    display: inline-flex;
  }

  #check:checked ~ .icons #menu-icon {
    display: none;
  }

  .icons #close-icon {
    display: none;
  }

  #check:checked ~ .icons #close-icon {
    display: block;
  }

  .navbar-client {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    background-color: rgba(0, 0, 0, 0.92);
    /* box-shadow: 0.5rem 1rem rgba(0,0,0,.1) ; */
    overflow: hidden;
    transition: 0.3s ease;
  }

  #check:checked ~ .navbar-client {
    height: 17.7rem;
  }

  .navbar-client a {
    display: block;
    font-size: 1.1rem;
    margin: 1.5rem 0;
    text-align: center;
    transform: translateY(-50px);
    opacity: 0;
    transition: 0.3s ease;
  }

  #check:checked ~ .navbar-client a {
    transform: translateY(0);
    opacity: 1;
    transition-delay: calc(0.15s * var(--i));
  }
  .car-cart {
    position: absolute;
    right: 6%;
    top: 32%;
  }
}

.carbutton {
  width: 160px;
  height: 70px;
  padding: 20px;
  background: #212121;
  border: 3px inset white;
  /* border: none; */
  border-radius: 5%;
  transition: 0.2s;
}

.caption {
  color: #e8e8e8;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  transition: 0.2s;
}

.car {
  fill: #e8e8e8;
  width: 50px;
  height: 50px;
  margin-left: -90px;
  margin-top: -35px;
  transition: 0.2s ease-in-out;
}

.carbutton:not(:hover) .car {
  opacity: 0%;
  transform: translateX(-150px);
}

.carbutton:hover .caption {
  opacity: 0%;
}

.carbutton:focus .car {
  transform: translateX(120px);
}

.car-cart {
  margin-bottom: -29px;
}
.book-now-bag {
  display: flex;
  gap: 50px;
}
