body {
  min-height: 100vh;
  background: url("../../../assets/backgroundImage/backgroundImage_LE_auto_x2.png");
  background-size: cover;
  background-position: center;
}

.navbar-wrapper-client {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.3rem 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  height: 18vh;
}

.navbar-wrapper-client::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  z-index: -1;
}

.navbar-wrapper-client::after {
  content: " ";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.893),
    transparent
  );
  transition: 0.5s;
}

.navbar-client ul li {
  font-family: "Poppins", sans-serif;
  font-size: 1.35rem;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 2.5rem;
  display: inline;
  margin-right: 20px;
  transition: color 0.3s;
  cursor: pointer;
}



#check {
  display: none;
}

.icons-nav {
  position: absolute;
  right: 15%;
  font-size: 2.8rem;
  color: #fff;
  cursor: pointer;
  display: none;
}

@media (max-width: 1400px) {
  .navbar-wrapper-client {
    padding: 1.5rem 5%;
  }
  .icons-nav,
  .car-cart {
    display: inline-flex;
  }
  #check:checked ~ .icons-nav #menu-icon {
    display: none;
  }

  .icons-nav #close-icon {
    display: none;
  }

  #check:checked ~ .icons-nav #close-icon {
    display: block;
  }

  .navbar-client {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    background-color: rgba(0, 0, 0, 0.92);
    box-shadow: 0.5rem 1rem rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: 0.3s ease;
  }

  #check:checked ~ .navbar-client {
    height: 17.7rem;
  }

  .navbar-client ul li {
    display: block;
    font-size: 1.4rem;
    margin: 1.5rem 0;
    text-align: center;
    transform: translateY(-50px);
    opacity: 0;
    transition: 0.3s ease;
  }

  #check:checked ~ .navbar-client ul li {
    transform: translateY(0);
    opacity: 1;
    transition-delay: calc(0.15s * var(--i));
  }
  .car-cart {
    position: absolute;
    right: 8%;
    top: 32%;
    margin-top: 3px;
  }
  /* .carbutton {
    display: none;
  } */
}

@media (max-width: 768px) {
  .icons-nav {
    display: inline-flex;
  }

  #check:checked ~ .icons-nav #menu-icon {
    display: none;
  }

  .icons-nav #close-icon {
    display: none;
  }

  #check:checked ~ .icons-nav #close-icon {
    display: block;
  }

  .navbar-client {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    background-color: rgba(0, 0, 0, 0.92);
    overflow: hidden;
    transition: 0.3s ease;
  }

  #check:checked ~ .navbar-client {
    height: 17.7rem;
  }

  .navbar-client ul li {
    display: block;
    font-size: 1.1rem;
    margin: 1.5rem 0;
    text-align: center;
    transform: translateY(-50px);
    opacity: 0;
    transition: 0.3s ease;
  }

  #check:checked ~ .navbar-client ul li {
    transform: translateY(0);
    opacity: 1;
    transition-delay: calc(0.15s * var(--i));
  }
  .car-cart {
    position: absolute;
    right: 6%;
    top: 32%;
    margin-top: 3px;
  }
}

@media (max-width: 375px) {
  .car-cart {
    position: absolute;
    right: 2%;
    top: 25%;
  }
  .navbar-client ul li {
    font-family: "Poppins", sans-serif;
    font-size: 1.35rem;
    color: #fff;
    text-decoration: none;
    font-weight: 500;}
}

@media (min-width: 0px) {
  .navbar-client ul li {
    font-family: "Poppins", sans-serif;
    font-size: 1.35rem;
    color: #fff;
    text-decoration: none;
    font-weight: 500;}
}

/*.carbutton {
  width: 160px;
  height: 70px;
  padding: 20px;
  background: #212121;
  border: 3px inset white;
  border-radius: 5%;
  transition: 0.2s;
}

.caption {
  color: #e8e8e8;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  transition: 0.2s;
}

 .car {
  fill: #e8e8e8;
  width: 50px;
  height: 50px;
  margin-left: -90px;
  margin-top: -35px;
  transition: 0.2s ease-in-out;
}

.carbutton:not(:hover) .car {
  opacity: 0%;
  transform: translateX(-150px);
}

.carbutton:hover .caption {
  opacity: 0%;
}

.carbutton:focus .car {
  transform: translateX(120px);
} */

.car-cart-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .book-now-bag {
  display: flex;
  gap: 50px;
} */


@media (min-width:1401px) {
  .line {
    font-family: 'Wendy One', sans-serif;
    color:  #fff;
    cursor: pointer;
    position: relative;
    font-size: 10vmin;
  }
  
  .line:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 5px;
    bottom: -10px;
    left: -1px;
    transform: scaleX(0);
    background: #fff ;
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
  }
  
  .line:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}

